body {
  background-color: #181a31;
  color: #ebebeb;
  font-family: "Quicksand", sans-serif;
}

.navbar {
  width: 100%;
  background-color: #07091c;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  box-shadow: 3px 4px 23px -6px rgba(14, 16, 36, 0.75);
  -webkit-box-shadow: 3px 4px 23px -6px rgba(14, 16, 36, 0.75);
  -moz-box-shadow: 3px 4px 23px -6px rgba(14, 16, 36, 0.75);
}

.navbar-text,
.navbar-form {
  height: 28vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  color: #ebebeb;
  font-family: "Quicksand", sans-serif;
}

input {
  height: 35px;
  width: 40%;
  background: transparent;
  color: #ebebeb;
  font-size: 16px;
  text-transform: capitalize;
  padding-left: 20px;
  border: 1px solid #858484;
  border-radius: 6px;
  outline: none;
}

.submit-btn {
  background: none;
  font-size: 16px;
  color: #ebebeb;
  text-decoration: none;
  padding: 10px 30px;
  border: 1px solid #858484;
  border-radius: 6px;
  cursor: pointer;
}

@supports (display: grid) {
  .onload-container,
  .search-container {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    justify-content: center;
    grid-gap: 30px;
  }
}

.onload-container > div,
.search-container > div {
  border-radius: 15px;

  box-shadow: 0px 5px 32px 6px rgba(7, 9, 28, 0.58);
  -webkit-box-shadow: 0px 5px 32px 6px rgba(7, 9, 28, 0.58);
  -moz-box-shadow: 0px 5px 32px 6px rgba(7, 9, 28, 0.58);
}

.movie {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.movie h3,
.movie p {
  padding-left: 10px;
  text-align: left;
}

.movie-name {
  font-family: "Quicksand", sans-serif;
  color: #ebebeb;
}

.rating span {
  background-color: #070813;
  padding: 5px;
  border-radius: 2px;
}

.overlay {
  position: absolute;
  background-color: rgb(250, 250, 250);
  height: 100%;
  top: 0%;
  left: 0%;
  color: black;
  font-size: 18px;
  padding: 0px 10px;
  transform: translateX(-101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}

.movie:hover .overlay {
  transform: translateX(-0);
}

.green {
  color: rgb(7, 204, 7);
}

.red {
  color: rgb(235, 171, 8);
}

@media only screen and (max-width: 900px) {
  .onload-container,
  .search-container {
    grid-template-columns: 270px 270px;
    grid-gap: 50px;
  }
}
@media only screen and (max-width: 600px) {
  .navbar-form {
    height: 10vh;
  }

  .navbar-text {
    height: 13vh;
  }

  .logo {
    padding-top: 100px;
  }

  .onload-container,
  .search-container {
    grid-template-columns: 80vw;
  }
}
